html, body {
    width: 375px;
    min-height: 450px;
    background: #f4f6fa;
}

.account__avatar__container {
    display: inline-block;
    vertical-align: middle;
}

.account__avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.account {
    padding: 0 8px;
    margin-top: 46px;
    font-size: 0;
}

.account__informations {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 32px);
}

.account__username {
    font-size: 18px;
    color: #353C52;
    font-weight: 500;
    padding-left: 12px;
}

.account__settings {
    width: 16px;
    height: 16px;
    background: url(../img/svg/settings.svg) no-repeat center;
    background-size: 16px;
    display: inline-block;
    margin-right: 24px;
    float: right;
}

.account__logout {
    width: 16px;
    height: 16px;
    background: url(../img/svg/log-out.svg) no-repeat center;
    background-size: 16px;
    display: inline-block;
    float: right;
}

.white-box {
    background: white;
    position: absolute;
    height: 290px;
    width: 100%;
    bottom: 0;
}

.buttons {
    margin: 32px 32px 0;
    width: calc(100% - 64px);
}

.buttons__actions, .buttons__links {
    float: left;
}

.buttons__actions a, .buttons__links a {
    display: block;
    height: 45px;
    line-height: 45px;
    width: 155px;
    color: #5C6F84;
    text-transform: uppercase;
    font-size: 12px;
    box-sizing: border-box;
    text-align: left;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 16px;
}

.buttons__actions a:first-of-type,
.buttons__links a:first-of-type {
    border-bottom: 1px solid #C8CBD3;
}

.buttons__actions a {
    border-right: 2px solid #C8CBD3;
    padding-left: 24px;
    background-position-x: 4px;
    background-image: url(../img/svg/plus.svg);
}

.buttons__links a {
    padding-left: 41px;
    background-position-x: 21px;
}

.buttons__links a.button__link--board {
    background-image: url(../img/svg/bookmark.svg);
}

.buttons__links a.button__link--bookmark {
    background-image: url(../img/svg/star.svg);
    background-position-y: 14px;
}
