html, body {
    width: 350px;
    min-height: 550px;
}

.content {
    background: none;
}

.account {
    margin: 16px 32px 0 32px;
}

.account__informations {
    margin-bottom: 50px;
}

.account__avatar {
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
}

.account__username, .account__username:visited, .account__username:active {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Bangers-Regular", Helvetica, "Droid Sans", Arial, sans-serif;
    font-weight: 200;
    letter-spacing: .05em;
    font-size: 26px;
    color          : #2098F6;
    text-align: center;
    display: inline-block;
}

.account__username:hover {
    text-decoration: underline;
}

.account__settings, .account__settings:visited, .account__settings:active,
.account__logout, .account__logout:visited, .account__logout:active {
    display: block;
    font-size: 15px;
    color: rgb(77, 84, 92);
    position: absolute;
    top: 12px;
}

.account__logout, .account__logout:visited, .account__logout:active {
    left: 12px;
}

.account__settings, .account__settings:visited, .account__settings:active {
    right: 12px;
}

.account__settings__text,
.account__logout__text {
    vertical-align: 6px;
}

.account__settings__text:hover,
.account__logout__text:hover {
    text-decoration: underline;
}
