.content {
    background: none;
}

.account {
    margin-top: 38px;
}

.account__avatar {
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
}

.account__username, .account__username:visited, .account__username:active {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Bangers-Regular", Helvetica, "Droid Sans", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 1.07;
    color          : #2098F6;
    text-align: center;
    display: inline-block;
}

.button__action, .button__action:visited, .button__action:active,
.button__link, .button__link:visited, .button__link:active {
    width: 272px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 16px;
    margin: 16px auto;
    border-radius: 7px;
    border    : 1px solid #d4d4d4;
    box-sizing: border-box;
    background: #F6F6F6;
    color: #626466;
    display: block;
    position: relative;
}

.account__username:hover {
    text-decoration: underline;
}

.account__settings, .account__settings:visited, .account__settings:active,
.account__logout, .account__logout:visited, .account__logout:active {
    display: block;
    font-size: 12px;
    color: rgb(77, 84, 92);
    position: absolute;
    top: 12px;
}

.account__logout, .account__logout:visited, .account__logout:active {
    left: 12px;
}

.account__settings, .account__settings:visited, .account__settings:active {
    right: 12px;
}

.account__settings__text,
.account__logout__text {
    vertical-align: 3px;
}

.account__settings__text:hover,
.account__logout__text:hover {
    text-decoration: underline;
}

.tracking-protection__content {
    margin-top: 24px;
}
