body .qwant-alert {
    position: fixed;
    top: -100px;
    z-index: 10000;
    transition: top 600ms ease;
    margin-left: calc(70% - 750px);
}

body .qwant-alert * {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body .qwant-alert--visible {
    top: 10px;
    transition: top 600ms ease;
}

body .qwant-alert .qwant-alert__content {
    display: block;
    height: 46px;
    width: 33%;
    min-width: 750px;
    border: 1px solid rgb(224, 226, 228);
    border-radius: 2px;
    margin: 8px auto;
    padding: 0 4px;
    line-height: 46px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.11);
    background: white;
}

body .qwant-alert .qwant-alert__content__icon {
    display: inline-block;
    width: 46px;
    height: 46px;
}

body .qwant-alert .qwant-alert__content__icon--success {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAAG3AWdYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQxJREFUeNpiYMAFAAIIDv7//8/Awr9XWxfIbgViP4AAwlABlNwEUoUssA9ZO0AAYdOxEcMIGOMvigCSir/IfIAAYiTkbpgJH5yu+IE4u6F+wFCEbBXItYxoVhpAPc7y0fmqF3rIAAQQMc5gA1LJLEQo+gnE7IzEKAI65RcTUOA1IUUgMSYgLkBWjE0RPEyBktFAagIQS2NThBL4UMVLgJgbqOgbunMAAoyRgUIAdeoaIPYF4k3A2PRnoZJhm+FeAyZRUBLnAgrIAgVuUmQYEgC5NBCIFwEVvwPSTkAFl8k1DFfgLwJiFMOxGBaCyzCc6RjN8AtA7ALE+4HYB1tME2UomuEJQOxPjGHIhgIADV2RA6Q6N7kAAAAASUVORK5CYII=') no-repeat center center;
}

body .qwant-alert .qwant-alert__content__icon--info {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAFMandsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAY1JREFUeNpiYACCvysd/oNoRhgDDmACAAEEkhEE0XAZmAgDQAAxwBgwtSA+EwMWABBAMNXHQBjG2YMksRurckwVyGYABBBMoBdZJUw1SByuA01SCd1V2Nx8F5cf8FoHEECMSILlQKocKtbJHH6gAyVsgVgbia+JHN7vgbQIUMdfIHsVSBDIDgOymYHMtyDH3gBJQjWHQzEDVOw6SMFmJPdNB+IFSPzNIAW+SAIcQMyPxPcFKdCA2gcDf6AOBYlpEvYFlnAAgS5YOAAEGCNaCKaBAgnqjpNAfBSI3wGxEBBbAbEFEH8C4kqgAdNh+phgmqHW6kHDjQmILYHsuSA+iAbyrUDiQLYwEGtDnZ4J0s8CdWI7EOsAFV1Fi/I4IC4E4l9AXIEUzjlAfdOA9BUgzccE9WMfFgNAYDLI6UA8FV0CqP4aSB9IP+6sAwFtUFdOxqeICRqQRchRQwwAqtcC6QPpZwE6qxOaEEH+Azk7HynNrQBikOKZSJpBCWMiEGcDcQZQ7UxiovgtNEZwRjEAoDLQD9NjJdUAAAAASUVORK5CYII=') no-repeat center center;
}

body .qwant-alert .qwant-alert__content__icon--error {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAFoTx1HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALBJREFUeNpi+BAcsJ8BBoCcNwABBGM4QQggAAgguBRcAFkGJAEQQAzIgBFJxgkHAwgAAogRpllg7QYRDC3IAMVqZJXYnAEQQNiNgIjvZ8KmAOoGRwxjMXyGpABFggmJvQqIw7C59g02lzOiBwCyAwECjBHKABsJVLSPAQ9AVsuITRDdAGxyjPhMRfYgumGMBJzEgMsLTLjCFhQosIDBlgAYCfkPpz9BCQFXIsFlAEgPAMJxhUn4YPgAAAAAAElFTkSuQmCC') no-repeat center center;
}

body .qwant-alert .qwant-alert__content--question .qwant-alert__content__icon {
    vertical-align: top;
}

body .qwant-alert .qwant-alert__content__icon--close {
    cursor: pointer;
    float: right;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAAHeq0ewAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPBJREFUeNpijIlLTGVgYFjIAAJAzj+AAGKAA4AAggn9AtEAAQRisEHpVAyZ/zDlAAHECBX4BqR4oWKflyyaz4Vs4F8QRhZYzoBp6wqAAAIRG9EENzIB6YlAxlKoAIieCLPUG0h1A3EZ0MItTFBdtkC8G0ozMAJV1QLpe0AVS4HsaCBbBaQ1E82iTIAAA6k0B7L3AfEWII4C6viLpIAZSIEs9wNiR0YkCSeohtVAnAjE84A4DIh9gAbsgwcRmnVbgZQXEG+DKoSHJxOSog5osC0DKgAZsgyI/4DE4YEP5FQA6XYgzgIqmo7FJpBHpwFxJQAWXVhllikYFAAAAABJRU5ErkJggg==') no-repeat center center;
}

body .qwant-alert .qwant-alert__content__message {
    vertical-align: top;
    color: rgb(77, 84, 92);
    font-size: 14px;
}

body .qwant-alert .qwant-alert__content--question .qwant-alert__content__message {
    vertical-align: inherit;
}

body .qwant-alert .qwant-alert__content__message a, body .qwant-alert .qwant-alert__content__message a:active, body .qwant-alert .qwant-alert__content__message a:visited {
    color: rgba(69, 139, 248, .92);
    text-decoration: none;
    margin: 0 0 0 8px;
}

body .qwant-alert .qwant-alert__content__message a:hover {
    color: rgba(69, 139, 248, .72);
    margin: 0 0 0 8px;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons {
    display: inline-block;
    text-align: center;
    margin-top: -24px;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button {
    color: rgb(77, 84, 92);
    margin: 0 8px;
    display: inline-block;
    height: 44px;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--yes:hover,
body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--no:hover {
    font-weight: bold;
    transition: all 300ms ease;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--yes .icon,
body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--no .icon {
    float: left;
    background: url('../img/spritesheet.png') no-repeat;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--yes .icon {
    margin: 13px 14px 0 0;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--no .icon {
    margin: 15px 14px 0 0;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--yes .icon {
    background-position: -26px -136px;
    width: 20px;
    height: 18px;
}

body .qwant-alert .qwant-alert__content .qwant-alert__content__buttons .qwant-alert__content__button--no .icon {
    background-position: -2px -136px;
    width: 20px;
    height: 18px;
}

@media screen and (max-width: 1080px) {
    body .qwant-alert {
        margin-left: 0;
    }
}
