html, body {
    margin        : 0;
    padding       : 0;
    background    : white;
    color         : #353c52;
    font-family   : 'Asap', Helvetica, Arial, sans-serif;
    overflow: hidden;
    border-radius: 3px;
    border: none;
    position: relative;
}

input, textarea {
    font-family   : 'Asap', Helvetica, Arial, sans-serif;
}

.banner {
    width: 100%;
    height: 50px;
    background: url(../img/svg/360.svg) no-repeat top center;
    background-size: contain;
}

.search__bar {
    width: 299px;
    height: 48px;
    border-radius: 24px;
    background: #FFF;
    position: absolute;
    top: 16px;
    left: 8px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
}

.icon__search__bar {
    height: 32px;
    width: 34px;
    background: url(../img/icon48.png) no-repeat center;
    background-size: contain;
    margin: 8px;
    float: left;
}

.search__bar__input {
    height: 48px;
    width: 204px;
    border: none;
    color: #5c6f84;
    font-size: 16px;
}

.content {
    margin: 24px;
}

.buttons {
    width: 100%;
    text-align: center;
    margin: auto;
}

.reload-msg {
    display: none;
}

.tracking-protection {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    background: #e0e1e6 linear-gradient(108deg, #e0e1e6, #c8cbd3);
    border-radius: 6px;
    height: 104px;
}

.tracking-protection__title {
    height: 40px;
    width: 180px;
    margin: 30px 0 0 24px;
    font-size: 18px;
    font-weight: 500;
}

.tracking-protection__title a {
    color: #353c52;
    text-decoration: none;
}

.tracking-protection__content {
    background: url(../img/svg/shield.svg) no-repeat center left;
    background-size: contain;
}

/**
 * Checkbox
 */

label {
    display    : inline-block;
    background : #FFF;
    cursor     : pointer;
}

label > input {
    display : none;
}

label i {
    display        : inline-block;
    float          : right;
    width          : 60px;
    height         : 32px;
    border-radius  : 16px;
    vertical-align : middle;
    transition     : .25s .09s;
    position       : absolute;
    box-sizing     : initial;
    top: 36px;
    right: 32px;
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

label i::after {
    content       : " ";
    display       : block;
    width         : 28px;
    height        : 28px;
    border-radius : 50%;
    position      : absolute;
    transition    : .25s;
    background: #0079a8 linear-gradient(315deg, #0079a8, #43cb4b);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    top: 2px;
    left: 2px;
}

label > input:checked + i::after {
    transform : translateX(28px);
}

label > input:checked + i::after:hover {
    cursor : pointer;
}
