.qwt-spinner {
	position: relative;
	height: 35px;
	width: 35px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 3px solid rgba(255, 129, 36, 0.2);
	border-top: 3px solid rgba(255, 129, 36, 0.8);
	border-radius: 100%;
	-webkit-animation: rotation 0.5s infinite linear;
	animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.qwt-embed {
	display: block;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid rgb(228, 228, 228);
	box-shadow: 0px 0px 4px 0px #F4F4F4;
	font-family: Tahoma, Arial, Sans-Serif;
	min-width: 415px;
	max-width: 600px;
}

.qwt-header {
	float:right;
	clear: both;
}

.qwt-options img {
	opacity: 0.75;
}
.qwt-options:hover img {
	opacity: 1;
}

.qwt-result {
	height: 44px;
	width: 50px;
	position: absolute;
	left: 5px;
}

.qwt-web, .qwt-news, .qwt-media, .qwt-social {
	padding-left: 33px;
}

.qwt-web-result-link, .qwt-news-result-link, .qwt-media-result-link, .qwt-social-result-link, .qwt-footer {
	padding-left: 17px;
	padding-top: 10px;
	border-left: 3px solid;
	height: 50px;
}

a.qwt-link {
	line-height: 24px;
	padding-bottom: 6px;
	display: block;
	overflow: hidden !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Segoe UI, Arial, Sans-Serif;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: -0.003em;
}

.qwt-link a:hover {
	text-decoration: underline;
}

.qwt-link-info {
	margin-top: -5px;
	color: #888;
}

.qwt-link-url {
	color: #3c9818;
}

.qwt-link-date {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -0.02em;
}

p {
	display: inline;
}

.qwt-web {
	background:url('chrome-extension://__MSG_@@extension_id__/img/header-web.png') no-repeat;
	background-position-y: 10px;
}

.qwt-web-result-link {
	border-color: #65C010;
}

.qwt-news {
	background:url('chrome-extension://__MSG_@@extension_id__/img/header-news.png') no-repeat;
	background-position-y: 10px;
}

.qwt-news-result-link {
	border-color: #F49711;
}

.qwt-media {
	background:url('chrome-extension://__MSG_@@extension_id__/img/header-medias.png') no-repeat;
	background-position-y: 10px;
}

.qwt-media-result-link {
	border-color: #f61313;
}

.qwt-media-thumb {
	float: left;
	clear: both;
	position: relative;
	padding-right: 10px;
}

.qwt-media-thumb a img {
	position: relative;
}

.qwt-media-thumb img {
	position: absolute;
	width: 62px;
}

.qwt-social {
	background:url('chrome-extension://__MSG_@@extension_id__/img/header-social.png') no-repeat;
	background-position-y: 10px;
}

.qwt-social-result-link {
	border-color: #42c0ef;
}

.qwt-social-author-thumb {
	float: left;
	margin-right: 15px;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	margin-left: 8px;
	margin-top: 0px;
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.20);
}

.qwt-social-author-thumb img {
	width: 62px;
}

.qwt-social .qwt-link::before {
	content: "«\00A0 ";
	font-size: 15px;
}

.qwt-social .qwt-link::after {
	content: " \00A0»";
	font-size: 15px;
}

.qwt-author {
	color: #42a4fc;
}

.qwt-footer {
	margin-left: 33px;
	border-color: rgb(222, 220, 228);
	background: url('chrome-extension://__MSG_@@extension_id__/img/footer-main.png') center right no-repeat transparent;
}

.qwt-footer a {
	line-height: 48px;
	font-size: 0.9em;
	color: rgb(18, 102, 186);
	font-family: 'Lucida sans Unicode', Arial, Sans-Serif;
	font-weight: 400;
	text-decoration: none;
	margin-left: 7px;
}

.qwt-footer a:hover {
	border-bottom: 1px dotted rgb(18, 102, 186);
}

.qwt-footer a:visited {
	color: rgb(18, 102, 186);
	text-decoration: none;
	border-bottom: 1px dotted rgb(18, 102, 186);
}