html, body {
    margin        : 0;
    padding       : 0;
    background    : white;
    color         : #353c52;
    font-family   : 'Asap', Helvetica, Arial, sans-serif;
    overflow: hidden;
    border: none;
    position: relative;
}

input, textarea {
    font-family   : 'Asap', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 50px;
    background: url(../img/svg/360.svg) no-repeat top center;
    background-size: contain;
}

.search__bar {
    position: absolute;
    top: 16px;
    left: 8px;
    right: 8px;
}

.search__bar__form {
    width: 299px;
    height: 48px;
    border-radius: 24px;
    background: #FFF;
    float: left;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    color: #5c6f84;
}

.icon__search__bar {
    height: 32px;
    width: 34px;
    background: url(../img/icon48.png) no-repeat center;
    background-size: contain;
    margin: 8px;
    float: left;
}

.icon__search__submit {
    height: 14px;
    width: 14px;
    float: right;
    margin: 18px 16px 0 0;
    background: url(../img/svg/icon-search.svg) no-repeat center;
    background-size: contain;
    opacity: .625;
}

.search__bar__input {
    height: 48px;
    width: 204px;
    border: none;
    font-size: 16px;
}

.footer__informations {
    position: absolute;
    z-index: 2;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: white url(../img/svg/info.svg) no-repeat center;
    background-size: 24px 24px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
}

.content {
    margin: 24px;
}

.buttons {
    width: 100%;
    text-align: center;
    margin: auto;
}

.reload-msg {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: -100vh;
    left: 0;
    background-image: linear-gradient(to bottom, #6c7694, #353c52);
    text-align: center;
    transition-duration: .4s;
}

.reload-msg_img {
    margin-top: 46px;
}

.reload-msg_choices {
    margin-top: 51px;
    background: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 187px;
}

.reload-msg_title {
    font-size: 22px;
    color: #353c52;
    text-align: center;
    margin-top: 24px;
}

.reload-msg_content {
    padding: 0 70px;
    margin-top: 7px;
    font-size: 13px;
    color: #5c6f84;
    line-height: 1.23;
    text-align: center;
}

.reload-msg_btns {
    margin-top: 32px;
    text-align: center;
}

.reload-msg_btns a {
    margin: 0 12px;
    border-radius: 50px;
    height: 35px;
    width: 112px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
}

.reload-msg_btns a.reload-msg--yes {
    background: #353c52;
    color: #f4f6fa;
    line-height: 36px;
}

.reload-msg_btns a.reload-msg--no {
    background: white;
    border: 1px solid #c8cbd3;
    color: #5c6f84;
}

.tracking-protection {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    background: #e0e1e6 linear-gradient(108deg, #e0e1e6, #c8cbd3);
    border-radius: 6px;
    height: 104px;
}

.tracking-protection__title {
    height: 40px;
    width: 200px;
    padding: 30px 0 0 24px;
    font-size: 18px;
    font-weight: 500;
}

.tracking-protection__title a {
    color: #353c52;
}

.tracking-protection__content {
    background: url(../img/svg/shield_disabled.svg) no-repeat -15px center;
    background-size: auto 83px;
    height: 100%;
}

/**
 * Checkbox
 */

label {
    display    : inline-block;
    background : #FFF;
    cursor     : pointer;
}

label > input {
    display : none;
}

label i {
    display        : inline-block;
    float          : right;
    width          : 60px;
    height         : 32px;
    border-radius  : 16px;
    vertical-align : middle;
    transition     : .25s .09s;
    position       : absolute;
    box-sizing     : initial;
    top: 36px;
    right: 32px;
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

label i::after {
    content       : " ";
    display       : block;
    width         : 28px;
    height        : 28px;
    border-radius : 50%;
    position      : absolute;
    transition    : .25s;
    background: #0079a8 linear-gradient(315deg, #0079a8, #43cb4b);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    top: 2px;
    left: 2px;
}

label > input:checked + i::after {
    transform : translateX(28px);
}

label > input:checked + i::after:hover {
    cursor : pointer;
}

/**
 * Tooltip
 */

.tooltip__informations {
    position      : absolute;
    z-index: 1;
    width         : 100%;
    height: 100vh;
    top           : -100vh;
    left: 0;
    background-image: linear-gradient(to bottom, #6c7694, #353c52);
    padding       : 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    transition-duration: .4s;
}

.tooltip__informations__list {
    list-style : none;
    padding    : 0;
    margin     : 0;
    position: absolute;
    bottom: 23px;
    color     : #f4f6fa;
}

.tooltip__informations__list__element {
    padding : 17px 0 17px 52px;
    background-repeat: no-repeat;
    background-position: 32px center;
    background-size: 16px 16px;
}

.tooltip__informations__list__element:first-of-type {
    background-image: url(../img/svg/external-link-white.svg);
}

.tooltip__informations__list__element:nth-of-type(2) {
    background-image: url(../img/svg/trash.svg);
}

.tooltip__informations__list__element:last-of-type {
    background-image: url(../img/svg/message.svg);
}

.tooltip__informations__list__element a, .tooltip__informations__list__element a:active, .tooltip__informations__list__element a:visited {
    color     : #f4f6fa;
    font-size : 12px;
    text-transform: uppercase;
}

