@font-face {
    font-family: 'source_sans_prolight';
    src: url('../font/sourcesanspro-light-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../font/sourcesanspro-regular-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../font/sourcesanspro-semibold-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bangers-Regular';
    src: url(../font/Bangers-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}