@font-face {
    font-family: 'source_sans_prolight';
    src: url('../font/sourcesanspro-light-webfont-webfont.eot');
    src: url('../font/sourcesanspro-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/sourcesanspro-light-webfont-webfont.woff2') format('woff2'),
    url('../font/sourcesanspro-light-webfont-webfont.woff') format('woff'),
    url('../font/sourcesanspro-light-webfont-webfont.ttf') format('truetype'),
    url('../font/sourcesanspro-light-webfont-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../font/sourcesanspro-regular-webfont-webfont.eot');
    src: url('../font/sourcesanspro-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/sourcesanspro-regular-webfont-webfont.woff2') format('woff2'),
    url('../font/sourcesanspro-regular-webfont-webfont.woff') format('woff'),
    url('../font/sourcesanspro-regular-webfont-webfont.ttf') format('truetype'),
    url('../font/sourcesanspro-regular-webfont-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../font/sourcesanspro-semibold-webfont-webfont.eot');
    src: url('../font/sourcesanspro-semibold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/sourcesanspro-semibold-webfont-webfont.woff2') format('woff2'),
    url('../font/sourcesanspro-semibold-webfont-webfont.woff') format('woff'),
    url('../font/sourcesanspro-semibold-webfont-webfont.ttf') format('truetype'),
    url('../font/sourcesanspro-semibold-webfont-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}