@font-face {
    font-family: Asap;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Asap Regular "),
    local("Asap-Regular"),
    url('../font/asap-latin-400.woff') format('woff');
}

@font-face {
    font-family: Asap;
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local("Asap Regular italic"),
    local("Asap-Regularitalic"),
    url('../font/asap-latin-400italic.woff') format('woff');
}

@font-face {
    font-family: Asap;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local("Asap Medium "),
    local("Asap-Medium"),
    url('../font/asap-latin-500.woff') format('woff');
}

@font-face {
    font-family: Asap;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Asap Bold "),
    local("Asap-Bold"),
    url('../font/asap-latin-700.woff') format('woff');
}
