html, body {
    width: 375px;
    min-height: 600px;
}

body {
    background: url(../img/svg/360.svg) no-repeat top center;
    background-size: 100%;
}

.content {
    width: 100%;
    background: white;
    margin: 4px 0 0;
    padding: 0;
    height: calc(100vh - 4px);
}

.login_form {
    margin: 0 32px;
}

.back_btn {
    display: inline-block;
    color: #697496;
    font-size: 12px;
    text-transform: uppercase;
    padding: 30px 0 1px 25px;
    background: url(../img/svg/back.svg) no-repeat bottom left;
    background-size: 17px;
}

.login__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.23;
    color: #353C52;
    margin: 24px 0 0;
}

.login__text {
    margin: 10px 0 0;
    font-size: 13px;
    color: #5C6F84;
}

.login_form__form {
    margin-top: 32px;
}

.login_form__form label {
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
    color: #5C6F84;
}

.login_form__form label.login__input__password__label {
    margin-top: 24px;
}

.login__input__login, .login__input__password {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #353C52;
    line-height: 40px;
    border: 1px solid #C8CBD3;
    border-radius: 3px;
    padding: 0 12px;
    box-sizing: border-box;
}

.login-error {
    display: none;
}

.login__input__submit {
    display: inline-block;
    width: 154px;
    height: 35px;
    margin: 48px 78px 0;
    background: #353C52;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    color: #F4F6FA;
    line-height: 35px;
    text-transform: uppercase;
}

.login__input__lost-password__div {
    text-align: center;
}

.login__input__lost-password {
    display: inline-block;
    margin-top: 19px;
    padding: 1px 0 0 20px;
    color: #5C6F84;
    text-transform: uppercase;
    font-size: 12px;
    background: url(../img/svg/alert.svg) no-repeat left center;
    background-size: 16px;
}

.login__input__register__div {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 111px;
    background: #F4F6FA;
}

.login__input__register__div h2 {
    margin: 0;
    padding-top: 18px;
    color: #353C52;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.login__input__register {
    display: inline-block;
    margin-top: 16px;
    padding: 10px 20px;
    color: #353C52;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #5C6F84;
    border-radius: 50px;
}

.login__input__register__text {
    padding: 1px 0 0 24px;
    background: url(../img/svg/external-link.svg) no-repeat left center;
    background-size: 16px;
}

.login-error {
    color: #e53b5b;
    font-size: 10px;
    margin-top: 4px;
    text-align: right;
}
