html, body {
    width: 350px;
    min-height: 550px;
}

.login {
    margin : 0;
}

.login__title {
    font-family : "LuckiestGuy-Regular";
    padding     : 0 50px 0 0;
    font-weight : 200;
    font-size   : 23px;
    color     : rgb(50, 149, 223);
}

.login__text {
    margin      : 16px 0 0;
    font-size   : 14px;
    line-height : 1.2rem;
}

.login__input__submit {
    display       : block;
    width         : 200px;
    border        : none;
    border-radius : 18px;
    margin        : 20px auto;
    color         : white;
    line-height   : 36px;
    font-size     : 16px;
    text-align    : center;
    background    : rgb(34, 139, 234);
}

.login__input__login, .login__input__password {
    background    : none;
    border        : none;
    width         : 100%;
    font-size     : 19px;
    border-bottom : 2px solid;
    padding       : 8px 0;
    margin        : 8px 0;
    color         : rgba(42, 44, 48, 0.48);
}

.login__input__login:focus, .login__input__password:focus {
    border-bottom-color : rgb(69, 139, 248);
}

.login__input__login:invalid, .login__input__password:invalid {
    box-shadow : none;
}

.login__input__loader {
    display : none;
    margin  : 32px auto;
}

.login-error {
    font-size: 12px;
    color: red;
    display: none;
}

.tracking-protection {
    padding-top : 0;
}