body .qwant-overlay {
    z-index: 9998;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

body .qwant-panel {
    display: none;
    z-index: 9999;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -500px;
    width: 450px;
    height: 100%;
    background: white;
    box-shadow: -4px -4px 8px rgba(42, 44, 48, 0.16);
    transition: right 300ms ease;
}

body .qwant-panel--visible {
    right: 0;
    transition: right 300ms ease;
}

body .qwant-panel .qwant-panel__content {
    height: 100%;
    position: relative;
    padding: 32px 40px;
}

body .qwant-panel .qwant-panel__content__title {
    font-size: 24px;
    margin: 0 16px 64px 0;
    line-height: 32px;
}

body .qwant-panel .qwant-panel__content__close--button {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

body .qwant-panel .qwant-panel__content__label {
    margin-top: 8px;
    font-size: 15px;
    text-transform: uppercase;
}

body .qwant-panel .qwant-panel__content__input {
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    border: 1px solid rgba(122, 124, 128, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(122, 124, 128, 0.48) inset;
    background: white;
    font-size: 13px;
    color: rgb(77, 84, 92);
}

body .qwant-panel .qwant-panel__content__input:disabled {
    background: rgb(222, 222, 222);
}

body .qwant-panel .qwant-panel__content__select {
    width: 100%;
    height: 40px;
    padding: 10px 16px;
    margin: 16px 0;
    border: 1px solid rgba(122, 124, 128, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(122, 124, 128, 0.48) inset;
    background: white;
    font-size: 13px;
}

body .qwant-panel .qwant-panel__content__select option {
    padding: 16px;
}

body .qwant-panel .qwant-panel__content__input--content {
    width: 100%;
    resize: vertical;
    color: rgb(77, 84, 92);
}

body .qwant-panel .qwant-panel__button {
    display: inline-block;
    padding: 12px 0;
    margin: 32px 7% 0;
    width: 40%;
    border-radius: 32px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
}

body .qwant-panel .qwant-panel__button--cancel {
    background: rgb(206, 206, 206);
    margin-right: 3%;

}

body .qwant-panel .qwant-panel__button--cancel:hover {
    background: rgb(173, 173, 173);
    color: white;
    transition: background 300ms ease;
}

body .qwant-panel .qwant-panel__button--submit {
    background: rgb(34, 139, 234);
    margin-left: 3%;
    transition: background 300ms ease;
}

body .qwant-panel .qwant-panel__button--submit:hover {
    background: rgb(31, 121, 204);
    color: white;
    transition: background 300ms ease;
}

body .qwant-panel .qwant-panel__powered-by {
    position: absolute;
    bottom: 35px;
    right: 40px;
}

body .qwant-panel .icon {
    display: inline-block;
}

body .qwant-panel .icon-close {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAAHeq0ewAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPBJREFUeNpijIlLTGVgYFjIAAJAzj+AAGKAA4AAggn9AtEAAQRisEHpVAyZ/zDlAAHECBX4BqR4oWKflyyaz4Vs4F8QRhZYzoBp6wqAAAIRG9EENzIB6YlAxlKoAIieCLPUG0h1A3EZ0MItTFBdtkC8G0ozMAJV1QLpe0AVS4HsaCBbBaQ1E82iTIAAA6k0B7L3AfEWII4C6viLpIAZSIEs9wNiR0YkCSeohtVAnAjE84A4DIh9gAbsgwcRmnVbgZQXEG+DKoSHJxOSog5osC0DKgAZsgyI/4DE4YEP5FQA6XYgzgIqmo7FJpBHpwFxJQAWXVhllikYFAAAAABJRU5ErkJggg==') no-repeat center center;
    width: 13px;
    height: 13px;
}

body .qwant-panel .icon-powered {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHcAAAARCAYAAAGQkwNbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACOpJREFUeNpi+P//PwM+8Ou33T9ccowgzQsWLS8Hst8D8UwgTgfi0MT4KFeYImVlZQMgpQDErUB8++7duwFwzeQCgADCC/7dU2HBJQeylAnEmL9wmSAQlwPxOxQ/+bL952+bpAN1+n8obQbEDRQ7GyCAGCjR/G+q1hYQrbqq/QbQNRJIAdwApbdD6QggrgaJA3EUyE6wqxkZGRmg3nWFxhgIKAHxKiC+B8SCID4w9hizcktBLq2YNrm78xED15dHsjW//bLT+d9VCDMBDQWpVQTi30DMDMR3gfgZEBcAY/cCUD4cyK66c+eOPkAAURSRv98Z9D354rqJnqHM8HerPFy3wZUtp2DBixTci4GYB8o+DqUvwCxmAQYxsvWroUE9C8pfBaVBQe16+sz598AgBgUnA1MVQtv/e7ycQKoeaHAAMEgNgHQQkI4F0hVAXA9kc0JTZyNMDyhZnwXFHZDeA8qFQJwGxGdAcQsUVwbSnUAcBmSfBdLGwDgGxRvD84uP2M5qTwDbfpvbVgdqnj7Qgg9Ai9aBaCC/HYg5kDxWhVIMDAQACCCGgbD470YVvS97Vf9eP6D6/9Qt7aM7H1n+bXzR+arm7UQOatkBzbrgdNfRNaEe5E94NgYWuKug0WsCjUqyAagUBBXcQHPCcAZykPItxnV31ZDF+NsnSrM7aG3mjclIAnLPA5MJI9DBUkA2KMl8A6VNqBgohqZCi5deIOYF4mxockqGJsknQAzK5aCKog2o7xQsYmHleCiUfg908F1QWgbSu6FlF8gDoEBwgQUetDxiAOUFaHm3B1qumQDpd9A8wgBM/zA5UAZNA2ZEsPjLjfeZ/mqoP2a+cVMWHgifOO8b8ms9uQNkIoXDfiCuA+KV0FizgwZADpQPykugQtseiA1BZSMozKGBAvLwBZBn6Z6kgR53wSa+iaFg7X7RhuMwvuzG77ugHgHFZAIQswCxLBCHoCVXO1AJBcQCoOoeijnRmgAgGgRkYf4EYYAAGjDw96GKy69fNmfffHM+CqxkfOlRVrEMhEf/HFB88fwOg/jHty9fPRERuc7MyLoAWFjdbhHOt6BigQXO78DCyhzIBSVp+kftv8UqKf9naPz/cFyFFSYWurdW1nRTzSOJi4d50GtyqMMdQA0mKNsbVKMDcRGSPCjprwbiHUAsDPMsEC/A1qb8D8RnqOEZtFYEZtt76c8khnfMxwQs7/yGNzWcmx/fuiPxFcgsBrUekDyhAGU6ADGoddgDpDdCS+RCIP8+LAxBBRgQHwbiNyDPQ8UPINsNauIoQZs0SlDH3oWVwsDSVQjkeGjp+x+p9FWGBs4eaMskDFpqhyIVTGeApbAJhm+fMLxhOPFPCUP8x19FfVal33dQRUGeYUTiF4OSJpS9BtaoBwGgeCo0gEDu8YKKLUA2jAnqWBA2hlU/UEefBfJBHlgNpEHyFdD2Hkg8FBpAxqB6GohB1VUaVO8eWBsQVAUBcTlKMv77L+fF5hvC/7W15GBifJWzPJR0zK+B2gNQBzOjBQWobPkLleMhkLhA1R0rNgkmqCMZQbEIrW9hVcUeqCfOQnt6DEjiID2w1ADCQtBUsRup4csAjFmQ+CxQLMPEmK8/fQTMP2dPffC+AWuDsvEFedz6rGd4+LpwHbTB/AfoKZjnXgGpaiCuBWI3IP4MFNuLHKt4CqnNQCxH10IJ6NndWOpZg60sJY9gfJH2N7lIjrQEYicoOwqIhZDkmIE4DlQQgQou5LoVylYHYn5YwYZcQDEOaGVLZwAQoDyrC2kyCsPf2Y+2rXIz7EdKURkGpVZ20UVBkKMwIjQMLwqUaNZFNLuwtZt+LsxdKGRCOaLIDCqj/yBMRISgaBLlZjrDCrWsdD9ugvvvfeP96iBTyy6SduDlfGfn/c737bzn/c7zPOcn3Y2HErFBxJWsMyoVcgMQY0+YCW4mCfsXLetenJiglEuY1hdV3GkObDsAe75nPv4HRI5QqQk+u4n4IKFSG6sMI/zilcTLKg4/yBwTepk78EKaMfZB+DTuZtnLs/rZ6sw+WV5K53qHe2L3qy9+a1mPZg/zB/sA1NXM079ioF3ZwCuLBDXiL3MjdenWaCrLk3xW4a6dwyrttul8k85fOBZVyWsVuVm9TC47qSoucyDjJqjCZpMRCAfeR9kV2rjrNxP0mlo+gu0Cv266N4FI6vYYvij26cC3h3uGWM7B74ZYfFbGgVsnwRAzQRoXQaN/Wgjt4IZthPcxz2nvuRwJMJXUI6yKDLHbb20zOvsC9cwXqA0POyeSMtJQPXBME0hUDlBNLYLJvRejPwWqYYJ1peBzk+tbSgvmDVwfgb4GvAbLRhkG2ibOF6HqSzA7qRdiOQ1+p2b6KzKawBKSZMwEFTWEh/UEG82kBYnXBRR8HZEDxMstqEfx0g09w0j3ueigwcppqwPcAYSe015r6DkuETvzgSUJVCdqsL9RHgq+UHWob3IE8Hkps/fcmNYzIGuSMmUwX7spB1pV7+a+LgspsE/4wNIX4CtqwnDZBIaqTAMFlteaRV8r+L6mhaT9kxcQM1fPEYgfOB8m0yWyPLg2EjMUOF2uhHhAG7UziS22kF8+1U+5sUVGiALnAHdE08j51HDPFMeIlbHYN0CB3kjaIJ5/NE5lmsw2eBa+awifj8sWJJrG1xTU9Qs7H0GPKd9uGEUfdXX/1jDzXg0lLklJyEoODI0FLfYtye0wsRqiz3g+sg8muxnqzfh5p+HLof0YapTFisWYgF0Hw8zaAf13od4P9/ooG8uhuvSXHzX1bA4ioMJMtCCRA8MMdHGCqoaCjCtKB30VFFANZZSRMrCAsreCstUi/Dpo6qKx9BQ4MeN01Mf76IhtO7mgW2Kw2FsU2C4IpridxJYQoKTCOzmEooXPJw97O+xrVzgHRw9GQuFvz9KqvdjvNmk7vCc2pCsmVfXy9yFlUJFUubLVfwUCgmOj+NMOdo3IJmokNlqIhQRoPJQY+AlG2SEElkFEdR2R1SjdfxGsdY5BPUP7+FFxPLBD/y0VIsEaF99eCG6bEMeFB1TfAdue61BLWMJDAAAAAElFTkSuQmCC') no-repeat center center;
    width: 119px;
    height: 17px;
}

body .qwant-panel .icon-powered:hover {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHcAAAARCAYAAAGQkwNbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACOpJREFUeNpi+P//PwM+8Ou33T9ccowgzQsWLS8Hst8D8UwgTgfi0MT4KFeYImVlZQMgpQDErUB8++7duwFwzeQCgADCC/7dU2HBJQeylAnEmL9wmSAQlwPxOxQ/+bL952+bpAN1+n8obQbEDRQ7GyCAGCjR/G+q1hYQrbqq/QbQNRJIAdwApbdD6QggrgaJA3EUyE6wqxkZGRmg3nWFxhgIKAHxKiC+B8SCID4w9hizcktBLq2YNrm78xED15dHsjW//bLT+d9VCDMBDQWpVQTi30DMDMR3gfgZEBcAY/cCUD4cyK66c+eOPkAAURSRv98Z9D354rqJnqHM8HerPFy3wZUtp2DBixTci4GYB8o+DqUvwCxmAQYxsvWroUE9C8pfBaVBQe16+sz598AgBgUnA1MVQtv/e7ycQKoeaHAAMEgNgHQQkI4F0hVAXA9kc0JTZyNMDyhZnwXFHZDeA8qFQJwGxGdAcQsUVwbSnUAcBmSfBdLGwDgGxRvD84uP2M5qTwDbfpvbVgdqnj7Qgg9Ai9aBaCC/HYg5kDxWhVIMDAQACCCGgbD470YVvS97Vf9eP6D6/9Qt7aM7H1n+bXzR+arm7UQOatkBzbrgdNfRNaEe5E94NgYWuKug0WsCjUqyAagUBBXcQHPCcAZykPItxnV31ZDF+NsnSrM7aG3mjclIAnLPA5MJI9DBUkA2KMl8A6VNqBgohqZCi5deIOYF4mxockqGJsknQAzK5aCKog2o7xQsYmHleCiUfg908F1QWgbSu6FlF8gDoEBwgQUetDxiAOUFaHm3B1qumQDpd9A8wgBM/zA5UAZNA2ZEsPjLjfeZ/mqoP2a+cVMWHgifOO8b8ms9uQNkIoXDfiCuA+KV0FizgwZADpQPykugQtseiA1BZSMozKGBAvLwBZBn6Z6kgR53wSa+iaFg7X7RhuMwvuzG77ugHgHFZAIQswCxLBCHoCVXO1AJBcQCoOoeijnRmgAgGgRkYf4EYYAAGjDw96GKy69fNmfffHM+CqxkfOlRVrEMhEf/HFB88fwOg/jHty9fPRERuc7MyLoAWFjdbhHOt6BigQXO78DCyhzIBSVp+kftv8UqKf9naPz/cFyFFSYWurdW1nRTzSOJi4d50GtyqMMdQA0mKNsbVKMDcRGSPCjprwbiHUAsDPMsEC/A1qb8D8RnqOEZtFYEZtt76c8khnfMxwQs7/yGNzWcmx/fuiPxFcgsBrUekDyhAGU6ADGoddgDpDdCS+RCIP8+LAxBBRgQHwbiNyDPQ8UPINsNauIoQZs0SlDH3oWVwsDSVQjkeGjp+x+p9FWGBs4eaMskDFpqhyIVTGeApbAJhm+fMLxhOPFPCUP8x19FfVal33dQRUGeYUTiF4OSJpS9BtaoBwGgeCo0gEDu8YKKLUA2jAnqWBA2hlU/UEefBfJBHlgNpEHyFdD2Hkg8FBpAxqB6GohB1VUaVO8eWBsQVAUBcTlKMv77L+fF5hvC/7W15GBifJWzPJR0zK+B2gNQBzOjBQWobPkLleMhkLhA1R0rNgkmqCMZQbEIrW9hVcUeqCfOQnt6DEjiID2w1ADCQtBUsRup4csAjFmQ+CxQLMPEmK8/fQTMP2dPffC+AWuDsvEFedz6rGd4+LpwHbTB/AfoKZjnXgGpaiCuBWI3IP4MFNuLHKt4CqnNQCxH10IJ6NndWOpZg60sJY9gfJH2N7lIjrQEYicoOwqIhZDkmIE4DlQQgQou5LoVylYHYn5YwYZcQDEOaGVLZwAQoDyrC2kyCsPf2Y+2rXIz7EdKURkGpVZ20UVBkKMwIjQMLwqUaNZFNLuwtZt+LsxdKGRCOaLIDCqj/yBMRISgaBLlZjrDCrWsdD9ugvvvfeP96iBTyy6SduDlfGfn/c737bzn/c7zPOcn3Y2HErFBxJWsMyoVcgMQY0+YCW4mCfsXLetenJiglEuY1hdV3GkObDsAe75nPv4HRI5QqQk+u4n4IKFSG6sMI/zilcTLKg4/yBwTepk78EKaMfZB+DTuZtnLs/rZ6sw+WV5K53qHe2L3qy9+a1mPZg/zB/sA1NXM079ioF3ZwCuLBDXiL3MjdenWaCrLk3xW4a6dwyrttul8k85fOBZVyWsVuVm9TC47qSoucyDjJqjCZpMRCAfeR9kV2rjrNxP0mlo+gu0Cv266N4FI6vYYvij26cC3h3uGWM7B74ZYfFbGgVsnwRAzQRoXQaN/Wgjt4IZthPcxz2nvuRwJMJXUI6yKDLHbb20zOvsC9cwXqA0POyeSMtJQPXBME0hUDlBNLYLJvRejPwWqYYJ1peBzk+tbSgvmDVwfgb4GvAbLRhkG2ibOF6HqSzA7qRdiOQ1+p2b6KzKawBKSZMwEFTWEh/UEG82kBYnXBRR8HZEDxMstqEfx0g09w0j3ueigwcppqwPcAYSe015r6DkuETvzgSUJVCdqsL9RHgq+UHWob3IE8Hkps/fcmNYzIGuSMmUwX7spB1pV7+a+LgspsE/4wNIX4CtqwnDZBIaqTAMFlteaRV8r+L6mhaT9kxcQM1fPEYgfOB8m0yWyPLg2EjMUOF2uhHhAG7UziS22kF8+1U+5sUVGiALnAHdE08j51HDPFMeIlbHYN0CB3kjaIJ5/NE5lmsw2eBa+awifj8sWJJrG1xTU9Qs7H0GPKd9uGEUfdXX/1jDzXg0lLklJyEoODI0FLfYtye0wsRqiz3g+sg8muxnqzfh5p+HLof0YapTFisWYgF0Hw8zaAf13od4P9/ooG8uhuvSXHzX1bA4ioMJMtCCRA8MMdHGCqoaCjCtKB30VFFANZZSRMrCAsreCstUi/Dpo6qKx9BQ4MeN01Mf76IhtO7mgW2Kw2FsU2C4IpridxJYQoKTCOzmEooXPJw97O+xrVzgHRw9GQuFvz9KqvdjvNmk7vCc2pCsmVfXy9yFlUJFUubLVfwUCgmOj+NMOdo3IJmokNlqIhQRoPJQY+AlG2SEElkFEdR2R1SjdfxGsdY5BPUP7+FFxPLBD/y0VIsEaF99eCG6bEMeFB1TfAdue61BLWMJDAAAAAElFTkSuQmCC') no-repeat center center;
}

body .qwant-panel .icon-loading {
    background: url('data:image/gif;base64,R0lGODlhbgAKAIAAAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCQAAACwAAAAAbgAKAAACIIyPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gvH8lUAACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAQ8kMlJq7046827/2AojmSJGQlSHGbrvlsCzIAA33iL0ECQ/0BPgUcIGo+VA62wQDqPggCh+axar9is9hUBACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAQ8kMlJq7046827/2AojmRpWkaCFMfpvvCVADQgxHhOIjUQ6MDgptAjCI9IyaFWWCSfQUGA4IRar9isNhsBACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAQ8kMlJq7046827/2AojmRplkaCFMfpvvCVADQgxHhOIjUQ6MDgptAjCI9IyaFWWCSfQUGA4IRar9isNhYBACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAQ8kMlJq7046827/2AojmRpnpiRIMWBvnA8JUANCHKuh4gNBLugEFPwEYZI5MFWWCSfQUGA4IRar9isNhQBACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAQ8kMlJq7046827/2AojmRpnp2RIMWBvnA8JUANCHKuh4gNBLugEFPwEYZI5MFWWCSfQUGA4IRar9islhMBACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAARNkMlJq7046827/2AojmTJHAWSGGaLoSrrlgJgA8msM/Wd76LADYAAuoS3ohGkGBaWJoIT+lkMbgoqyXC1ZbUdAyEgAG/HZbN6zW67lxEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABFGQyUmrvTjrzbv/YCiOZFkeBZIY5mYkSHG09CgAOJDUWJIDAp6QE/ghhpUfIIBsWhS/glNS+BGm2MUgp8BCcYUFFmsgBIJjQYAgHrvf8LjcHQEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABEyQyUmrvTjrzbv/YCiOZGl6R4Ekxpiu7SnPlwDcQCLauE7/tAAOgBAJcUWg0qQYFkQE53I6WgxwCpHhestSvx8DISAgicngtHrNbqsjACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAARTkMlJq7046827/2AojmRpnsxRIImRGQlSHGhtfwKgA0mW7ADBbUisBICIDBAQKDqHCmAhUwASnljUYrBTZKK6wiJLLhkIAaFGECCMy/C4fE43RQAAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABE6QyUmrvTjrzbv/YCiOZGme1lEgiVGprIvOtCgAOJBQd77XwGAmkAMgKMTcUchsKooFCgHarAYXg5yCYsjittbwzEAICCxks3jNbrvfpwgAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABGWQyUmrvTjrzbv/YCiOpHcUSGKUrGYkSHFUbzy3nADsQIL/lAQPIAgOi0BMYIhIAoeAAAUxlDotimHhiisMCRQvD8ylLAY8RZmV3RUWlDbgvaYYCAFknSQIEOAVfX97hIWGh4h7EQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEXpDJSau9OOvNu/9gKI5k2R0Fkhgmh6os9a5tjQlADiT2re8UnI7XKzICP4SxgtQpJ83cc1lT/ArUCeFK2eqw2dZioFOEGQZyzjxJl88tAyEggKPn9Yqcbu/7/4CBRhEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABGWQyUmrvTjrzbv/YCiOZGlaR4EkxmgkSHFUbzyfuCkAPJCMiR5AQAn2iLlkKCBEjISAAAUhlCqvHYWwMCoICRRvD4wtZxaDnmKk5RUWlDbgba5fDIQAciQIEOAVfX92hIWGh4iJEQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEX5DJSau9OOvNu/9gKI5kaYJHgSSGlq4t9bJnbV8CoANJlu+9yU8XvBlrgR0AkUnumBOnDnqskhTKQoaQpXB3Wqs4tBjsFBmDWYeeqM/j+MdACAg2dLslf5f7/4CBgmMRACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAARmkMlJq7046827/2AojmRplkeBJEZlJEhxuLB83jgnADyQVIkeQEAJ9oi5pJIRECIqQkCAghBOl9iTQlioFIQEyrcXzppHi0FPUdnyCguKGwA/20MGQgBZEQQIcX1/gXeFhoeIiTcRACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAARtkMlJq7046827/2AojqRmlKiZIMVhHQWSnBQs02mV5DyVAECAgCIIAnaTYhDZkyCaPYQxQAkYnxNrEAstQHkFI4FCMHon5eAZ6vqmFOoFxTAIKuZ14N3NTwkCBHIVBgoBQ4MEhn2LjI2Oj5AWEQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEepDJSau9OOvNu/9gKI5kWR0Fkhgmh6osZSRIcVRzfbelAPyABC/jAwopCSBAgFQyh6KAEgG9SIFUihIQoCCU3SpIoSyIK4RypaAkUNhA99mzGAAV84nB/sNTyD8FC39AgnkeBgQBT4cMiYsXAgEEgxWSlI2ZmpucnZwRACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAR4kMlJq7046827/2AojmRJHgWSGKORIMVhoSpL0aupewLgA4lR4gcQUHq/4ATpU+6emAARMSICAhTpjzrR+rjQMEVBLIwKRAKFUF63xXDGYvBTjMi+woJioPvsE311cXEGBAFGJAIBBHsVBgqIFoaShJaXmJmamxsRACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAR6kMlJq7046827/2AojmRpYkeBJIaWri1lJEhxVHN9n3wpAEBAIvMLDimJIECAVDJ7UFBAichMg1WKEhCgIJTdqJijUBYyBHOloCRQ2EH3eI5ZDIKKjOEOzFPKQAULf0GCdIcWBgQBT3qLjRQCAQSDFZKUiJmam5ydmxEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABHmQyUmrvTjrzbv/YCiOZGl2R4EkRmUkSHFY6dpSNXvuPCMAQECikggCBJRfcDhRApm9qChgRFSMgACFGrROuECvdOxRGAuVgpFAIZzbb7J8sxgEFRUzsLCgGOxAeBN/d3OGGQYEAUgWAgEEfS4KixaJlIeYmZqbnGMRACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAAR3kMlJq7046827/2AojmRpdkaCFId1FEhiVOnaZm88n3yZAECAgCIIAhKVX3B4KQaRvWgIYQxQAkZExQiwXrBBrXTcKRgJFIKxUDEH0Rd1kE2u4+YLimEQVFQUeBh7fXaFTQEEeTQKAUwVAoiKgoyOhpaXmJmaYxEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABHiQyUmrvTjrzbv/YCiOZGl6R4EkRmUkSHFY6dqKNXvunAD8gEQlAQQIKD6gMJT8LXlQS6CIqBQBAcoUWA1tf92oWKIoFiqFIoFCMIvawPN4vBgAFZXyr7CgGOw/eCF/d3NzBgQBRxYCAQR9LgqKJIiThpeYmZqblxEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABHWQyUmrvTjrzbv/YCiOZGl6RoIUh3UUSGJU6dqe2ovgZwL8AAFFAAQkKj6gkGch/pglRDFACRR3lCKACq0Cu6NCkUAhFAsVMZAMlpifbdABWFhQDAOgoqKg2+N4cHEfAgEEf3cKAUsVhYeDEgaKkJSVlpeYFxEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABGeQyUmrvTjrzbv/YCiOZGl+R4EkRmUkSHFY6dqeeK4JQA8klYQPIKDwfECdcskIDBGVISBAcfqgzOxJMSxUCkMChdDVmkmLgU9R4fYKC4pB3WOf7yADIVC0CAIEcS4KfHiGh4iJimYRACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAARlkMlJq7046827/2AojmRpfkaCFId1FEhiaG88n3huJUAPCBSBD5DICH1FnTKHGAYogSEiE/VNl9hSYUigEIaFzNcXzppDB/KCYhj4FJn2+0z/CAKEdcWgCAA1BgR+dYSFhoeIdBEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABGaQyUmrvTjrzbv/YCiOZGmCR4EkRmUkSHGQ6dqeeCkAPJBUiR5AINr1frlkKCBEVISAgIjZcyqvHYWwUCkICSLCFkvWLAY9RUXLKyxEBjRPXa5bDIQA0SIIEN4jBgp6doWGh4iJWBEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABGWQyUmrvTjrzbv/YCiOZGmCRoIUh3UUSGKc2xvPdF4lQA8IFIEPkNBdhL6i0YgYBiiBIWJZifqm1FxhSKAQhoXs5OsLi0+H8oJiGPgUZ0b7HT8JAoR1xaAIAOsGBH51hIWGh4gYEQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEU5DJSau9OOvNu/9gKI5kaYZHgSRGZSRIcZx0bQpADiRVogMCm3DICfwQlR8gQGw6J4pfoVL4EZ7Y4WKgU1SiucIiS64ZCIGgRRAgjMvwuHxOx0YAACH5BAkJAAwALAAAAABuAAoAg2RiZLS2tOTi5ISChMTCxHR2dPT29MzKzGRmZJSWlMTGxPz6/P///wAAAAAAAAAAAARNkMlJq7046827/2AojmRphkaCFIeWru0pz2EC3ICQ2bhO/8ALAgcIZIY4Y3AZLBAJGScOyqzODrjCIqPIbq1gkyBA+GbG5bB6zW67wxEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABFGQyUmrvTjrzbv/YCiOZGmKR4EkxmgkSHGcdI0JQA4kY6IDApvQFvghRj9AYMg0KX6FUeFHaFpFi4FOMXrmCour+GMgBIIkQYAQHrvf8Li8GQEAIfkECQkADAAsAAAAAG4ACgCDZGJktLa05OLkhIKExMLEdHZ09Pb0zMrMZGZklJaUxMbE/Pr8////AAAAAAAAAAAABE2QyUmrvTjrzbv/YCiOZGmKRoIUx7mla+vOYALcgEBfNq7vwAwCBwgEKUOc8cicFIiEJuOJi0qZB1xhIVVouVemIEAAS8flsHrNbrs1EQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEPJDJSau9OOvNu/9gKI5kaY5HgSTG6b6wJQA0kMR4TgY1gOjA4EbRKwiPSMliUFMkn0EDISCAWq/YrBYYAQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEPJDJSau9OOvNu/9gKI5kaZ7MUSCJgb5wLAlADSRyroeBDSC7oBCj8BWGSORiYFMkn0EDISCAWq/YrBYWAQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEPJDJSau9OOvNu/9gKI5kaZ7bUSCJgb5wLAlADSRyroeBDSC7oBCj8BWGSORiYFMkn0EDISCAWq/YrBYUAQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEPJDJSau9OOvNu/9gKI5kaZ6odBRIYqRwDAtADSRyroeBDSC7oBCj8BWGSORiYFMkn0EDISCAWq/YrJYRAQAh+QQJCQAMACwAAAAAbgAKAINkYmS0trTk4uSEgoTEwsR0dnT09vTMysxkZmSUlpTExsT8+vz///8AAAAAAAAAAAAEO5DJSau9OOvNu/9gKI5kaZ6oeRRIYqRwDAtADSRyroeBDSC7oBCj8BWGSORiYFMkn0EDISCAWq/YLCoCADs=') no-repeat center center;
    width: 110px;
    height: 10px;
    margin: 32px auto;
}