html {
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(253,252,255)), to(rgb(248,247,252)));
    height: auto;
    border: 0;
    color: #333;
}

body {
    font-size: 13px;
}

img {
    border: 0;
}

input, body, a, select {
    font-family: Segoe UI,Arial,sans-serif;
    text-shadow: 0px 1px 0px #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1168cc;
}

#qwant_popup {
    width: 525px;
    height: 43px;
}

#qwant_popup_form {
    float: left;
    margin: 0;
    width: 525px;
    padding: 10px;
}

#qwant_popup_submit_wrapper {
    width: 70px;
    float: right;
    height: 43px;
    overflow: hidden;
}

#qwant_popup_submit_button {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAYAAADhXXHAAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAyjSURBVHja1Fl5cBvVHf7tpdXqsC1ZsmXZseQ4seLYTpwTigmQhCQcJaWFAmk6BVIYKHQKaTvMlJLSTjstpUwhlKPDFDrTUtJhmBTSwJRADpI4dg7HJrZjO7blS7Es67AlWbd2t79d2UaWFTvh+IOnebOy9x3f+973O94TIYoifF0KIYGtq1v1uTrvfvF1eOwnPyTxK4OVukSzBNYktp3FCva9rHnq65u+EFgaq2Lqj8d3/sKsVqtVLMvl0jSt5nk+juMm/P6x0bExX+iN11/xpfWNvrD7b4Lc77EHvlKwEoOMtWwRtW3b/eW5ublLGUZRodfryhQMg2DZHJqhOVHgEzwvJkOhkDsWT0SCwaA9Eom0ej3u7uef/93Q5FgxrPxXAVbaYtZqLafuu+/hVRqt9jpzUeEynS7PhowuJElSNVfnZDLpDwSCHT7feO+o230G2f7kD79/qgtfSdKITj6/FLDylu/c+WRpkbnktoVlli3IZC3DMPmfR+fhSKTP7fa2OByOD06dPrFv7zt7JiYBC/OBpecZW9Il/dSuZ2q12pyt1VWVW7VaTeUXsWgVx5VZSkvKNGpVIQBpKiwofuvVV54buRxZ0PPok37618/daLMtftho0NeiJou+LFeHu3NN1VKbGsdTPfHEb/Y+++zT5+cDTM6hUeZXT/9xfWXl4h8XmQo2KBQKGeiXWXNytMtX1FZv1+n1dz6+85dlkl1I0rwSZqUFsD/92a7KhQsXPlBgLKhDA2IvOUBbB0BbO0BPD4DdDrBsWerFeADAthhAowaxpgp4qyVrf47jSpfVLL39bDIZ2/a9+1/b89bfZWlfLljljh2PGPPydHcUGA21JEmosm093XoeiGP1ACEcNxzCik+dHu16sm2uFiAQRFeQAOLwUaApEoR1dVlBo0exLa203YReY6K0tOyvg4N9zGQwmROsHIWKzAu2oDFt4TilNRtQxb/fAfChn7eUoh3HIXGiASKnToPocoGgVKbcDKOQzAfU118L1PIaiUIgj58A0jsG8ZXLs2l4ra1i0cTd99zb9Kdnf90oebxMl5YJln3o4cetxcXm9Xl5uSuzAWX3fYAmjW7VgJ7LMQxw9Djw+9+HZDQ6ta/yQ+opOBxADGEMmEDWJYDS4lwjoHi7F2Lf/XYWwPpapZK7obZ29dmWljMS2PilwMrGlpdn2FxkKqzNBlT57n5Ei94MWYOuCwAfHwa4OAxEZSVwD94HJDJILquR2/KtbSAcbwDyxB6A4BGADowBK9cBmMpRxzSwg40QXXDVTPfD0Hpk97rQxltPIdhDc4FV/uDeh0wFBUb0qZolmWCZTpxMwMVSyGpHJwI9iHpFrT72KJDfv2eWW6FqquWa+NGDwDS8DNDwGsDARdyVbwIUoOFNdAMVLYMka5zRz2AwrMaAs9pgKDzi8biodFc2Yw6tNq8W3dSSbG6GPnRUsgSAXrT4Dz5EtiZAeGk3xLffDYIgSCFVrolEQq7Sd0xo5Hfxqx8B2LwLF+dBz/Ee6n0AqdEDM3Bg1jwURaqLzUVLtn7rLuukK5vFrOzbKIpejKyWZbLKNrcAOkXgHT44+K4Los6FsGL3DiiorABhElDs+EkgW44DRRKoVwIIBQNE3fUoEZQGSUJs6XeADToxdr6WAnzVdqQqBmR8DHgmL0O7eVZMkGz41Z4tKJBVVbUKTO/0uAXGWaz29MlMRhvOQWTYC/rVi6BgQ/U0e8EX3wDho8PoSvCDwGgEzCTjQL79JhAH9sptpBq76lHcPgTmx/FGz2K8ugjK8eZZ7GK2aUbiSi8VwRjbkiqUi75wKrlJrzCIFj0yAmR3r5xulG6/VgYqMTp6qA1GnSR4mFKgDHFQWULAWcOgLOdBVVcAqvhJYEdbpwHDCmRUxEF8SFoygs/2WWCRMB3KIfdSYPFJ5bOsUpNNrzDuR5nzQIy6cR4RDOur5Imld0P/OAqRsAh+TxT46Cg6YT9KANtzCESFoT4/D5jefXJbWdPlmzBgoN2I3lQACTuz6JbSILNqvd5IpoffdANT0RTFZgPrBjW4RRWcUxZAcPVnQKV61hEFO68ETwTHDCIAHsNsEsGS6HdpBEvhk/dOt49pSlAK0l5OeiXcnWxzohtjFy+uVKaDpdMSZEKY7JhZXrLeID/31y4CS6UFbuM/S4xeqFgLtiItrHP3g6GlDCiTDtjkOagpOomAcHgRo6bSNz2uLAUL7gA5BmBWpwJIljl5XoBoNEZlBRuLxeL4iWXrKIqpvFgynsZO34zBrQYWaEKQQ9ZEKAfiSQNwSSSERUYVVCpq5lRM92GE/pQ8FChJFv9HKLOCjUajCYdjIJ6elE+BFYLBgD8YnJjI1lGzpgrGYyJwGisI9gk470pAZUGq642bFkDjoB9iFQUwwqDLwi0PMGXQpopATn4AeCECJmbbNCB1NOVbCVKb4gwPHJlzIvthLBGfzxVPzw+mNJvos/d4hoedLpSCmKmfBVoSnZIIRepU8382Baff7VxnAo2SB5JGJpkwiMgmr9SCnygEt5APIeJqSFBbp9sL4r9SiRlTjFTpUCILZ+kVcXrxgBkQM1YxBVZwOgeD2CCI9HsyO1fkEKDHdKBcRwJD8PCfthB0uGLTFv7nWyugd6gfvD43ThTEKDwBkegE6KktYOWenDZIX+Jj8MXOAclokOI1MmdhsWoWWL/fP4wnYtelUkTsxgt46rzo9vjsJcVFMwJ2eS4BzW40YoaBjdU5cGIwAs+cjMBfttCgQQN6uakPYnoX3HzTbWDSLc082co1LHRCX2wX5FO497rbkVmcgjFATMxFgMkZfUZc7iHEMjjnscbpdHYODAx2Za5UYqbOrEC9xeCGQgLWGwlw94zDzz8Zg//aHbDHfgFyzC5QaGJpRilCPB6Xqz9xCjpCO5COMMTpW3HrlyA3ExBiNsoLSZ8rkUiGu7Bg1tU5eSbLmnVF21qbu8vLyzuX2BZ16XQ6Wzo7ZjUN/SiBGLq3unyUw3ASGjEE//bM+WlwSQQWTnx2IgkLXeCKvwne5HtAEBTk0euApdei6HhIKJdBXMhBNzsjC8Rg6Tjjco3aoxHpXDTz8JjOLNpWJNzT09Pc3d3XksmuxFDdcj2oOQpUChK+UaODDRY15GLCIvKiXMP8yHR7R+xVaA/dBZ7EPjRONeQzt8hgCcmXYzIVUVwvZ2fpc6D79DecOHms9Vxzg5ipjSwnhVh7+6dni4tLq0tKimwmTMLT2ZWyp7VVeVDf7IWJSAKq9UrQMRZoGvVgPq2CQKIVDOTGlPsROPRMNlCSRtR6DXBkESSFGITZNXjkWQHo0lMBIq30Dww1DTuHuzxepyMz8c52FOcFPjxxoavj1MFDx/4XCASHMlYug76mVg8rbDkQ5THWY0K+3KiDaoMNkmIE/+eS22qYxaClViHYchxUwP3kwchuwpheO533po89NDR8pr7+5JHm5qZ6EJNZr5SynW6j/f3d7RqtptBut1VVV1cWIqOKtMgCLMuCBUOlVHvHlXDe7UPW0R2JNAzEXwcNUYU0JEBNW4CjTKBTLAeONsn9JTlJQNPL2Nh4z+Ejxw6cPXv6aDTidWU72V4KrKRdf3vbp/UaTa5OwSpUeC7aQGBJC80yOwqFAsrztHLFgI/1dkBfLaeOmObJ79MGlftJz/TiDwQG979/YG93d9epYefAOaQ5fKXXR0meD3nOnGn8hCBECicQrJYFKzmOy8/0n5jOASbt8lNajxKP4hJzkr6njjVTSXpmGR11t3144OD+vj5704UL7Y0gxAJz3SjOddcVT8T9/Q0N9QdDoVDQbDY333Lz5q0GQ/6SbE5/+ip9cgPmuxMbHBw6eejw0Y86Os43OIb6W9BWPF/kYg6OHz8dq6tb1dfa2hzDEBhAxiLXXnvNdWXW0jW4xZpsfeYDiWHU0WsfaGlsPH0UPc9pj3ekXeSj3vr6JmG+e+L5rjylu9EEDuIYGOiJjIwMu7xe76DBUHCipmZplcVSWqnX5VpRAuxcY6BRTbhGPV0Ox0V7e3tnm9N5EWNUR6cgRAdEIe7HOS7ravKKrukJglaSlNLMspxpQUmp2Wg0lnCcylheXmbJz883chyLsuZyZMPxB71oUFGMRiMI0hEI+J0er2dkYKB/CCPICNqEa/KK6Cv9AQRlyTDozfIJgtSTFJNrMpnytdoczHMYpUKh5FIuLizJJo4Jid/tHvXhPOMoSb+kzU2b75S1+dGBd67oBxAarrxIP8TEeT7hvHHTHc6DH79HOxzRPFwBJ13HiSKhSK0II4QUhEUxiACD2Fa4XF3PKYOv1Y92X5fyfwEGACH2ivVPhy6gAAAAAElFTkSuQmCC) center center no-repeat;
    width: 60px;
    float: left;
    height: 43px;
    border: 0;
    cursor: pointer;
}

#qwant_popup_submit_button:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAYAAADhXXHAAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAuSSURBVHja1FlZbFTXGf7mzty5s9qeGe94w2BjjFlizGYwUAgQoCShSkjSoCakUV/60jxUatM2kFRqqlat2qqt1PYhUaRSipJmA1OcQCAQsLFxbIwDjveFwfZ4PPud9c70P3dsxx4PTqAmUo70647PPfec73z/eo4VsVgM89BWk2SQFEw8vSR+kjYSG0nXfCyiusfv1CQ7SB4j2TsBcK7WS3KU5OThI7+6PNn58pEX72pRxV0yy0D+gORnJNmTnS6XayQYDIo+n+j2iX6/oOZ5FbW0tNQMQRC0Op3ONG2OqySvHHn51feOHP7pfQO7ieRvJOX0jTQ6auvv7OzuaGlp7TEYDEYCpDMaDSlaraANhSJhSZIidrvd5vX6/DzPR6uqVi8tKFiwyGQy5U7Md5LkeZLh+Qb7LANKY5U9Pb2tdR+crc/ISM8qKsxfYrGYi4lE3VwfE+suq3XkxsDgYLdaLUiba6qrs7OzFtOrAZJHSFrmC+yrJD9xOBxDtafq6jLS0wuLivJXabVay70Yu8Pp7O3q6m0x6PXRLVtqHhIENUfd3yN58/8F+zLJSwMDg9f/ffytuge3b91NjC6dD8/u6+u/9Hlnd9vjj+3fbzQa2cZ3kpy9V7D7Sf5zra39Y6vV6ltYVLBKr9fnYB7b8PBI64WLl88++cRje3Jyss3UtW4ictwV2HKSpvb2m823b98WS0qKNyuVSgH3obnd7oHaU2eOH3r26QNk/y7qqiIJ3Q3YEyMjo6WNTc3tyyuW7pzLgXQdn0P/WQfUg0PAbSuwYkX8hdMN5OUgrNHCtbQUwbwFdwQ8Pu7oqG9o/vDg0wcOarWaw9T1x68KdovP53vrtdePvrF926b9KSkpRXcCaWqgkMk+F30kIiBJBHAaKJ2eRANEqN/vx9i6qjuCvnXLemVw6PZn39m/b69CoSieyIJfCvbSuXMXrUajbiGFl8pkE2e9/T5UkQhQSNk1EEL40mX4rzQiNjKCqEYTn5hXg8vOgn7LJihXLge0WoDY9yzIgXtZeVLAFCXO5ufnpxYXF7IYfPjL0u0qp9OZ53I5+0tKFiYHWncGqmxKXjpafIjU/vFFSCdOIhIIxAcwUIgTHh0agmJwkDgi1itXypszejzQvVeL4Yf3zJo7Pz931fnzF/5ZWJh3iHzkFeqS5mL21dN1Z/IX5GavNptNZYmTZdTWgbeQ0xJr6OwEPvyI9GeFXxAQOPRdKCoqgIplcbDtnwH1jTDVHwMyeRIKJJU19FxE4H3wmzVwJFFcb9/A+Yx0i6q0tOSlxFDGzfRMz0af1xtJBlTX1Que2Z+SlHHjJvDfOorwDkSffwbB0+9C8eQTU0BlFkjViu8/A+c/TgGP7gI0VID1E3BvKwFWQEtZVh22z2Y3L7fqanNLazQa3ZH4bjpYA4WpaGFhflky9addbgD05DDdPUDtaapevBB//2u4Dz4FmhihUAgBMgWRHI0J+x0Oh8E051zzQ2DrC4BvDLj+Lrl/P4E3I33s/OwyUKXSp6amWuz28WVz2ezivv7BvtKS4t3kjTMG6dtIpWYzpKFxnHlnBIHbxaj47UGYy5bIgCLkbFL9VQjtV6BWcZOrIly1AYEl5aBCBq6yA0j1UWnb8EYc8LqniaoY1BEPwnzKjPVysjOLqAgao2yZnNlAIJhvtd62UUk3qzbV91BS8XgRuHwNfqsdaZXFMG9ZygoUGWj470eh+aQBGl4g4WXRKWIw1r4N9bkT8oYY867VxLCBgLlovtFmqnBuIcXfOotdSr+5o7YxD/1UJgVLhUom7SSD4zgFY3a6KIdHWG4E19lNLk6h9KnqL1R8oQNOuwZjfAGU6SHoCn3QFonQLJKg25gJC9cK/fgNCsGSvDGsPEDeR5OMkzlF/FC7O5C4nqARTOPjTgfBSk0KlhKB2mDQG5LnRI8c8BWjNlonBtPmMnlxOb8fq4dfjME1FoAUGKXy3AUFCbR0qtEFAUsaUoZOyGPZBsWF5DepRFiMnItFouBsJ6PK3eBlhbDfzyUHK/qDal6dNP/boIctpsM1TSbcq8vjDE20FmsIPRIx6yc799DCEqXZCIHlKO6qCKySnlH31HhRSxnMyBBNpH9yzmRNo9EIn7a0RZI6GNnsOJkAEp2LtT8XbY0XDKsWo6CsALtogclxfyhdiyU5RtTY+pDeshDKbBOEyDUsz2lgFBF7YUAYmxrPIgcKSQMcaTlXHw9zSdZUKjn09w+EqjesnQ2Wiol+OpYEk+0yFovvXkmbaehwzHhXkC5ApYjKKcvrS0Eokg5thOKxQIyqmX8QOcbSLw5x0b64eajJHAX6iFMnZVaSomEiL5iUWZ/POyIIvDdp0bJ6GdzhGLSGIkR7vLhpk1CWEXfUHQ/moWHQjWBpJoZ5chDJDje/ENd1fqRY3JCifmQqn5Ixs5YqnZYdU8GRLTBCVZZkQEU6dEr79j0iJbVZjlOOuVyeUVJJLNE7C1IoIhB1Ofr48KMt4tS7H23KgkEtgVMRk7yIGLEpaYxwKbJgi1qodFqHsPLhqfHR2JuyX4En21WZEBMWzYoG5Ih2QaNx3jGDUWkWohjrCoXCY4mDSgmsmbS1yMSBV0h4p10kdsPyO+Zsv/t2CboH+mAft1H28jAtIRD0wKTchSLti1ORwymdhSN0DRxPQUe/RjYdUTErUTFnt/r9gZY5qy6atNnj9fVYzGkzEsPiNA4ttAUjBfvtFSm4NODHb64E8KedKhhIv39p7kXQMoLdD+1Dtqk8QaWSLP5oB/pCv0C6knRvepSYpSX4dASlVEzZyETzeryDZK/dc9UGZApcm8Ph7EhUC/Pgjblq6ANBbM1S4FsZCti6nPjxRSdO9llxrKcTKbkjEPShaU4Zk+MqE4/UhBvic7L9hlR7KS5R+SF54eO3y3NPX4u+E8fs4+2EpXNOsHv37BxyudxNPlHsSGRngYGDibw+LSpho4XDGl0E/VTMvNLYJgd3GZwUlgsYJiwVe0Lt6PH/HDfFQ5T4fEhVbYSg2soqc0i6NcRnGhKLfyKriUBfJizROcFOxLdT9jHHLHthDG1cZYZBq4SOjvoblpuwrVCPVDWPmBSTJSB9cbkyFPgr2ryPwxZ6l5xTDwu/B2mqGiiIyZhCA5HfKs85vUUikmtg8NZHhOF8sqg0C+zOHdu6HE7nB5TtWhLUI6ts/QoL9DolsSihwizgiUWFqMo0wUBnSmf42tR4iTKeAkug5TaRcz4DHbcWEUrVAWEdfIbnprLg9DXopHuV1P8RYQh8JbATtnuSKvbaYDA0mMguM4maygxUlZsQJJMIRyNYmWFCRfoSOhdSHSuNxCsnvgRG5WpouEVkq1EyAxb6dlOYq5xyupnlh6fplnW4lta+eNeXHOfOX1xJVdgvMzMsu2jXM9IMq0/pjBQ/5DmcuG4bp4k+RZ6plSCFyTZXkKqDcubT89kwax6Ajs+ZCnXTa4t4qg90dXX3/Ysdwbdu2WS/p+ujjy9c2kuF8At0zNmGeL6Zzj6r6uVnwiWcbDLsHZPJxkyIgYwmFC6kvYGu7l4G9LXNNdUd93yZrFBwp4ZHxnhKjtHUFEMlLW6ZvjgrqBlYxvJkEUSJRQY1GfIYcKbyaJLqShT91/v6h96jdY7VbFrfMS9Xnp9culJNj4cLCxc8otVoyubeoGIqzs55beTxNVitw+x+4PWN1WsH5/Uy+XJ9I7slOZCdlbGTqrM1xKThXu62yEmHXG5vCx0I36c/j29Yv8Z5X67p6xuaeHpsJqkxmdJWGo36pYJaXURsznlpRybgpVzf4fWJPZR0Gqnrw/Xrqj69240q7uW/NQ1Xmll0YEXqAyQlRoO+mB00VSpOS3YtH1WDobCdbDUQ8AeHRb+/Z+I/NzdIptLourWV9x/sZGtskslhMSxv4h8izDTSJl6zgCuyO7eJ37PamqoHvj6wX3fj8A1q3yiw/xNgAIU4So+FET2BAAAAAElFTkSuQmCC) center center no-repeat;
}

::-webkit-input-placeholder {
    color: #888;
}

#qwant_popup_search_input {
    width: 441px;
    float: right;
    background: #fff;
    color: #222;
    height: 28px;
    padding: 4px 6px 5px 6px;
    margin-top: 3px;
    outline: none;
    border: #adb2b6 solid 1px;
    font-size: 17px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.8), inset 0px 1px 2px 0px #eaeaea;
}

#addons {
    display: block;
    margin-bottom: 4px;
    margin-left: 11px;
    clear: both;
}

#addons:before {
    content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFlSURBVHjaYvz//z8DJYCJgULAAmMwMjJiSOqZWluC6Eunjx5Hl4O5nAmLJlkozQWkfEEYyobLIQNGmEkgF0AV1ADxYyAWBmIuqLpvQPwWiEHyLUAXPcbqgounjjCoq6kyQBVyIUmB2LIgOZAarGEAAvpmNm95eXngfBNjQzB95ux5MP3s+XOwGqxeAEpYQv0sDNM8d/rkWyB2cmauGswQqFc2A11yHMULQA0iUpKSwjD+q1ev3wLDpReEQWyYOEgNSC2GC4DA8uOnT77egWHCnz9/gYndgtJqIALkva3rV73l5+PbDOSiugBo03GgRAvQBmQvqsE0Q21nAKkBqcUViGAvgEIbFGAwl4BsBmm+ees2TM03rAaAogikCGjA40+fPwuHxySBo3Llknnf+Hh53wLlwFGJnGpRDABKgBJIC5Tmio0KByUqBqBmkNg3oJgsSA5nSsSS3i1h4YMrLzBSmp0BAgwAVV+SAIy7xxQAAAAASUVORK5CYII=);
    vertical-align: sub;
    margin-right: 2px;
}

#options {
    margin: 0 20px 10px;
    display: none;
}

#options ul li {
    list-style: none;
    margin-bottom: 5px;
}

#options ul li input {
    vertical-align: middle;
}

#options ul li label {
    margin-left: 2px;
}