html {
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(253,252,255)), to(rgb(248,247,252)));
    height: auto;
    border: 0;
    color: #333;
}

body {
    font-size: 13px;
}

img {
    border: 0;
}

input, body, a, select {
    font-family: Segoe UI,Arial,sans-serif;
    text-shadow: 0px 1px 0px #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1168cc;
}

#qwant_popup {
    width: 525px;
    height: 43px;
}

#qwant_popup_form {
    float: left;
    margin: 0;
    width: 525px;
    padding: 10px;
}

#qwant_popup_submit_wrapper {
    width: 70px;
    float: right;
    height: 43px;
    overflow: hidden;
}

#qwant_popup_submit_button {
    background: url('../img/widget-searchbar-button-off.png') center center no-repeat;
    width: 60px;
    float: left;
    height: 43px;
    border: 0;
    cursor: pointer;
}

#qwant_popup_submit_button:hover {
    background: url('../img/widget-searchbar-button-over.png') center center no-repeat;
}

::-webkit-input-placeholder {
    color: #888;
}

#qwant_popup_search_input {
    width: 441px;
    float: right;
    background: #fff;
    color: #222;
    height: 28px;
    padding: 4px 6px 5px 6px;
    margin-top: 3px;
    outline: none;
    border: #adb2b6 solid 1px;
    font-size: 17px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.8), inset 0px 1px 2px 0px #eaeaea;
}

#addons {
    display: block;
    margin-bottom: 4px;
    margin-left: 11px;
    clear: both;
}

#addons:before {
    content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFlSURBVHjaYvz//z8DJYCJgULAAmMwMjJiSOqZWluC6Eunjx5Hl4O5nAmLJlkozQWkfEEYyobLIQNGmEkgF0AV1ADxYyAWBmIuqLpvQPwWiEHyLUAXPcbqgounjjCoq6kyQBVyIUmB2LIgOZAarGEAAvpmNm95eXngfBNjQzB95ux5MP3s+XOwGqxeAEpYQv0sDNM8d/rkWyB2cmauGswQqFc2A11yHMULQA0iUpKSwjD+q1ev3wLDpReEQWyYOEgNSC2GC4DA8uOnT77egWHCnz9/gYndgtJqIALkva3rV73l5+PbDOSiugBo03GgRAvQBmQvqsE0Q21nAKkBqcUViGAvgEIbFGAwl4BsBmm+ees2TM03rAaAogikCGjA40+fPwuHxySBo3Llknnf+Hh53wLlwFGJnGpRDABKgBJIC5Tmio0KByUqBqBmkNg3oJgsSA5nSsSS3i1h4YMrLzBSmp0BAgwAVV+SAIy7xxQAAAAASUVORK5CYII=);
    vertical-align: sub;
    margin-right: 2px;
}

#options {
    margin: 0 20px 10px;
    display: none;
}

#options ul li {
    list-style: none;
    margin-bottom: 5px;
}

#options ul li input {
    vertical-align: middle;
}

#options ul li label {
    margin-left: 2px;
}
