/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body .qwant-panel html, body .qwant-panel body, body .qwant-panel div, body .qwant-panel span, body .qwant-panel applet, body .qwant-panel object, body .qwant-panel iframe,
body .qwant-panel h1, body .qwant-panel h2, body .qwant-panel h3, body .qwant-panel h4, body .qwant-panel h5, body .qwant-panel h6, body .qwant-panel p, body .qwant-panel blockquote, body .qwant-panel pre,
body .qwant-panel a, body .qwant-panel abbr, body .qwant-panel acronym, body .qwant-panel address, body .qwant-panel big, body .qwant-panel cite, body .qwant-panel code,
body .qwant-panel del, body .qwant-panel dfn, body .qwant-panel em, body .qwant-panel img, body .qwant-panel ins, body .qwant-panel kbd, body .qwant-panel q, body .qwant-panel s, body .qwant-panel samp,
body .qwant-panel small, body .qwant-panel strike, body .qwant-panel strong, body .qwant-panel sub, body .qwant-panel sup, body .qwant-panel tt, body .qwant-panel var,
body .qwant-panel b, body .qwant-panel u, body .qwant-panel i, body .qwant-panel center,
body .qwant-panel dl, body .qwant-panel dt, body .qwant-panel dd, body .qwant-panel ol, body .qwant-panel ul, body .qwant-panel li,
body .qwant-panel fieldset, body .qwant-panel form, body .qwant-panel label, body .qwant-panel legend,
body .qwant-panel table, body .qwant-panel caption, body .qwant-panel tbody, body .qwant-panel tfoot, body .qwant-panel thead, body .qwant-panel tr, body .qwant-panel th, body .qwant-panel td,
body .qwant-panel article, body .qwant-panel aside, body .qwant-panel canvas, body .qwant-panel details, body .qwant-panel embed,
body .qwant-panel figure, body .qwant-panel figcaption, body .qwant-panel footer, body .qwant-panel header, body .qwant-panel hgroup,
body .qwant-panel menu, body .qwant-panel nav, body .qwant-panel output, body .qwant-panel ruby, body .qwant-panel section, body .qwant-panel summary,
body .qwant-panel time, body .qwant-panel mark, body .qwant-panel audio, body .qwant-panel video,
body .qwant-alert html, body .qwant-alert body, body .qwant-alert div, body .qwant-alert span, body .qwant-alert applet, body .qwant-alert object, body .qwant-alert iframe,
body .qwant-alert h1, body .qwant-alert h2, body .qwant-alert h3, body .qwant-alert h4, body .qwant-alert h5, body .qwant-alert h6, body .qwant-alert p, body .qwant-alert blockquote, body .qwant-alert pre,
body .qwant-alert a, body .qwant-alert abbr, body .qwant-alert acronym, body .qwant-alert address, body .qwant-alert big, body .qwant-alert cite, body .qwant-alert code,
body .qwant-alert del, body .qwant-alert dfn, body .qwant-alert em, body .qwant-alert img, body .qwant-alert ins, body .qwant-alert kbd, body .qwant-alert q, body .qwant-alert s, body .qwant-alert samp,
body .qwant-alert small, body .qwant-alert strike, body .qwant-alert strong, body .qwant-alert sub, body .qwant-alert sup, body .qwant-alert tt, body .qwant-alert var,
body .qwant-alert b, body .qwant-alert u, body .qwant-alert i, body .qwant-alert center,
body .qwant-alert dl, body .qwant-alert dt, body .qwant-alert dd, body .qwant-alert ol, body .qwant-alert ul, body .qwant-alert li,
body .qwant-alert fieldset, body .qwant-alert form, body .qwant-alert label, body .qwant-alert legend,
body .qwant-alert table, body .qwant-alert caption, body .qwant-alert tbody, body .qwant-alert tfoot, body .qwant-alert thead, body .qwant-alert tr, body .qwant-alert th, body .qwant-alert td,
body .qwant-alert article, body .qwant-alert aside, body .qwant-alert canvas, body .qwant-alert details, body .qwant-alert embed,
body .qwant-alert figure, body .qwant-alert figcaption, body .qwant-alert footer, body .qwant-alert header, body .qwant-alert hgroup,
body .qwant-alert menu, body .qwant-alert nav, body .qwant-alert output, body .qwant-alert ruby, body .qwant-alert section, body .qwant-alert summary,
body .qwant-alert time, body .qwant-alert mark, body .qwant-alert audio, body .qwant-alert video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
body .qwant-panel article, body .qwant-panel aside, body .qwant-panel details, body .qwant-panel figcaption, body .qwant-panel figure,
body .qwant-panel footer, body .qwant-panel header, body .qwant-panel hgroup, body .qwant-panel menu, body .qwant-panel nav, body .qwant-panel section,
body .qwant-alert article, body .qwant-alert aside, body .qwant-alert details, body .qwant-alert figcaption, body .qwant-alert figure,
body .qwant-alert footer, body .qwant-alert header, body .qwant-alert hgroup, body .qwant-alert menu, body .qwant-alert nav, body .qwant-alert section {
    display: block;
}

body .qwant-panel body, body .qwant-alert body {
    line-height: 1;
}

body .qwant-panel ol, body .qwant-panel ul, body .qwant-alert ol, body .qwant-alert ul {
    list-style: none;
}

body .qwant-panel blockquote, body .qwant-panel q, body .qwant-alert blockquote, body .qwant-alert q {
    quotes: none;
}

body .qwant-panel blockquote:before, body .qwant-panel blockquote:after,
body .qwant-panel q:before, body .qwant-panel q:after,
body .qwant-alert blockquote:before, body .qwant-alert blockquote:after,
body .qwant-alert q:before, body .qwant-alert q:after {
    content: '';
    content: none;
}

body .qwant-panel table, body .qwant-alert table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Injected HTML common style
 */

body .qwant-panel h2, body .qwant-panel h3, body .qwant-panel label, body .qwant-panel input[type="text"], body .qwant-panel p, body .qwant-panel a, body .qwant-panel a:active, body .qwant-panel a:visited, body .qwant-panel a:hover, body .qwant-panel span,
body .qwant-alert h2, body .qwant-alert h3, body .qwant-alert label, body .qwant-alert input[type="text"], body .qwant-alert p, body .qwant-alert a, body .qwant-alert a:active, body .qwant-alert a:visited, body .qwant-alert a:hover, body .qwant-alert span {
    font-family: Helvetica, "Droid Sans", Arial, sans-serif;
    background: none;
    color: rgb(77, 84, 92);
    text-decoration: none;
}