.icon {
    display: inline-block;
    background: url('../img/spritesheet-lite-x1.png') no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .icon {
        background: url('../img/spritesheet-lite-x4.png') no-repeat;
        background-size: 40px 20px;
    }
}

.icon__search__bar {
    background-position: 0 0;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 0;
    position: absolute;
}

.icon__search__submit {
    background-position: -20px 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
