.icon {
    display: inline-block;
    background: url('../img/spritesheet.png') no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .icon {
        background: url('../img/spritesheet-x4.png') no-repeat;
        background-size: 183px 268px;
    }
}

/**
 * Login
 */

.icon__settings, .icon__logout {
    margin-right: 4px;
}

.icon__settings {
    background-position: -12px -236px;
    width: 12px;
    height: 12px;
}

.icon__logout {
    background-position: 0 -236px;
    width: 12px;
    height: 12px;
}

.icon__register {
    background-position: -28px -237px;
    width: 4px;
    height: 9px;
    margin: 2px 8px 1px;
}

.icon__lost__password {
    background-position: -36px -235px;
    width: 12px;
    height: 12px;
    margin: 1px 4px 0 0;
}

/**
 * Action buttons
 */

.icon__board {
    background-position: -5px -199px;
    width: 10px;
    height: 13px;
    margin: 1px 3px 1px 2px;
}

.icon__board__add {
    background-position: -21px -197px;
    width: 18px;
    height: 18px;
}

.icon__bookmark {
    background-position: -2px -218px;
    width: 16px;
    height: 15px;
    margin-bottom: 1px;
}

.icon__bookmark__add {
    background-position: -21px -217px;
    width: 18px;
    height: 18px;
}

/**
 * Tracking protection
 */

.icon__tracking-protection--enabled {
    background-position: -48px -90px;
    width: 36px;
    height: 40px;
    margin: 0 2px;
}

.icon__tracking-protection--disabled {
    background-position: -92px -90px;
    width: 36px;
    height: 40px;
    margin: 0 2px;
}

/**
 * Footer
 */

.icon__powered-by-qwant {
    background-position: -2px -249px;
    width: 60px;
    height: 16px;
}

.icon__about {
    background-position: -1px -157px;
    width: 18px;
    height: 18px;
}
