.welcome {
    margin: 0 32px;
}

.welcome__title {
    text-align: center;
    font-family: "Bangers-Regular";
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: 1px;
    font-weight: normal;
    color          : #2098F6;
    margin: 20px 0 0 0;
}

.welcome__text {
    width: 274px;
    margin: 8px auto 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
}
