html, body {
    width: 350px;
    min-height: 570px;
}

.welcome {
    margin: 0 32px;
}

.welcome__title {
    text-align: center;
    font-family: "Bangers-Regular";
    font-size: 32px;
    line-height: 34px;
    font-weight: 200;
    letter-spacing: .03em;
    color          : #2098F6;
}

.welcome__text {
    text-align: center;
    margin: 22px 0 0;
    font-size: 16px;
    line-height: 20px;
}
