html, body {
    width: 375px;
    min-height: 450px;
}

.welcome {
    padding: 0 8px;
}

.welcome__title {
    font-size   : 22px;
    font-weight : 500;
    margin      : 38px 0 0;
}

.welcome__text {
    font-size : 13px;
    color     : #5c6f84;
    margin    : 8px 0 0;
}

.login-btn {
    background: #353C52;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 22px;
    color: #f4f6fa;
    margin-top: 24px;
    cursor: pointer;
}
